*{
    box-sizing: border-box;
}
:root{
    font-size: 16px;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
}
header{
    background-color:white;
    margin-bottom: 0;
    width:100%;
}

header ul{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1rem ;
    list-style: none;
}
header ul li{
    padding: 0 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: black;
    border-right: 1px solid lightgray;
}
header ul li a{
    padding: 0 1rem;
}

header ul li a .icon{
    height: 1.5rem;
    text-align: center;
    margin: 0 auto 0.625rem;
}
header ul li a .icon .fas{
    width: 100%;
    height: 100%;
    line-height: 1.5rem;
    font-size: 1.5rem;
    transition: 0.5s;
    color: #000;
}

header ul li a .name span{
    font-size: .625rem;
    width: 100%;
    color: #000;
}

.slides{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

/* NAV BUTTONS */
.next {
	font-size: 4rem;
    position: fixed;
	left: 45%;
	top: 80%;
	color: white;
    z-index: 100;
}
.next >i {
	cursor: pointer;
	opacity: 0.4;
	transition: all 0.5s;
}


/* ALL SLIDES */
.slide{
    text-align: center;
    color: white;
    width: 100%;
    /* height: 90vh; */
    transition: transform 1s;
}
.slide h1{
	font-size: 4rem;
	font-weight: bold;
    padding-top: 1.25rem;
    margin:0;
}
.slide h2 {
	text-align: center;
	color: white;
	font-size: 1.5rem;
    font-weight: 100;
}		
.title{
    margin-top:0.625rem;
}


/* SLIDE0 "HOME"*/
.slide0 {
    background: rgb(253, 42, 27);
    height: 90vh;
}
.about{
    width:80%;
    margin:auto;
}
.gregorys{
    width:60%;
    margin-top:1rem;
}
.slide0 img{
    width:80%;
}


/* SLIDE1 "ABOUT"*/
.slide1 {
	display: none;
    background-color: #00ADD5;
    height: 90%;
}
.bio{
    margin-top:1rem;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.familypic{
    width:80%;
    margin-top:1rem;
}
.slide1 img{
    width:100%;
}
.slide1 h2{
    width: 80%;
    margin: auto;
    text-align: left;
    font-weight: bold;
}
.slide1 li {
    width: 80%;
    margin: auto;
    text-align: left;
    color: white;
    border-right: none;
	line-height: 1.5rem;
}


/* SLIDE2 "PROJECTS"*/
.slide2{
    display: none;
    background-color: #5C6983;
    height: 90vh;
}
.quiz{
    border-radius: 5px;
    width: 80%;
    margin: 0 auto 0.625rem;
    text-align: left;
    background-color: lightgray;
    color: #5C6983;
    padding: 0.625rem;
}
.quiz h2{
    color: crimson;
    text-align: left;
    font-weight: bold;
}
.quiz img{
    width:100%;
}
.githubBtn{
    border: 1px solid #5C6983;
    border-radius: 5px;
    background-color: white;
    padding: .5rem;
}
.siteBtn{
    border: 1px solid #5C6983;
    border-radius: 5px;
    color: white;
    background-color: #5C6983;
    padding: .5rem;
}
.githubBtn a{
    color: #5C6983;
    text-decoration: none;
}
.siteBtn a{
    color: white;
    text-decoration: none;
}


/* SLIDE3 "CONTACT"*/
.slide3 {
	display: none;
    background-color: #22D6FF;
    height: 90vh;
    margin: auto;
}
.slide3 ul{
    list-style-type: none;
    margin-top:4rem;
    padding-left: 0;
}
.slide3 ul a{
    /* margin-top: 1rem; */
    text-decoration: none;

}
.slide3 ul li{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: .625rem;
    width: 10rem;
    margin: 1rem auto;
}


/* FOOTER */
footer{
    background-color:white;
    /* padding: 1.25rem; */
    display: flex;
    justify-content: flex-end;
    width:100%;
}
footer .links{
    flex-direction: row;
    font-size: 2rem;
    opacity: 0.3;
}
.links >a{
    padding: .5rem;
    color: black;
}


@media only screen and (min-width: 480px){
    header ul li a{
        padding: 0 2rem;
    }
}


@media only screen and (min-width:568px){
    header ul li a{
        padding: 0 3rem;
    }

    .slide{
        height: 80%;
    }

}

@media only screen and (min-width:636px){
    header ul li a{
        padding: 0 3.5rem;
    }
}



@media only screen and (max-width:668px){
    .slide3 img, .slide1 img{
        display: none;
    }
}



@media only screen and (min-width:731px){
    /* SLIDE1 ABOUT */
    .info{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .familypic{
        width:40%;
        margin:2rem auto;
    }
    .slide1 img{
        width:90%;
    }

    /* SLIDE2 PROJECTS */
    .slide2{
        height: 90%;
    }
    .container{
        display: flex;
    }
    .projects{
        flex:1;
    }
    .quiz{
        width: 50%;
        margin:2rem;
    }


    /* SLIDE3 CONTACT */
    .contact{
        display: flex;
        align-items: center;
    } 
    .contactBtns{
        width: 40%;
        margin: 0;
    }
    .jakepic{
        width:45%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .slide3 img{
        width:50%;

    }
}


/* IPAD PORTRAIT */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .slide{
        text-align: center;
        color: white;
        width: 100%;
        height: 80vh;
        transition: transform 1s;
    }

     /* SLIDE1 */
     .slide1{
        height: 90%;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    .slide1 h2{
        width:80%;
        margin: auto;
        text-align: left;
        font-weight: bold;
    }
    .bio{
        flex:1;
    }
    .bio li{
        width: 80%;
        margin: auto;
        text-align: left;
        color: white;
        border-right: none;
        line-height: 2rem;
        font-size: 1.25rem;
    }
    .familypic{
        flex:1;
    }
    .familypic img{
        height: 30%;
    }


    /* SLIDE2 */
    .slide2{
        flex-direction: column;
        align-items: center;
    }
    .container{
        display:flex;
    }
    .projects{
        flex:0;
    }
    .quiz{
        width: 80%;
        /* margin-top:0; */
    }

    /* SLIDE3 */
    .slide3{
        height: 80%;
    }
    .info{
        /* display: flex; */
        
    }
    .contact{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    } 
    .contactBtns{
        width: 100%;
    }

    .contactBtns li{
        font-size: 1.5rem;
        align-items: center;
    }
    .jakepic{
        width:50%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .slide3 img{
        width:80%;

    }
}


/* IPAD PRO PORTRAIT*/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .slide{
        height: 90vh;
    }
 
    /* SLIDE0 */
    .about{
        width:80%;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        /* width:80%; */
    }
    .gregorypic{
        flex:1;
        width:80%;
    }
    .gregorypic img{
        /* width:200%; */
    }


     /* SLIDE1 */
     .slide1{
        height: 90vh;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    .slide1 h2{
        width:80%;
        margin: auto;
        text-align: left;
        font-weight: bold;
    }
    .bio{
        flex:1;
    }
    .bio li{
        width: 80%;
        margin: auto;
        text-align: left;
        color: white;
        border-right: none;
        line-height: 2rem;
        font-size: 1.25rem;
    }
    .familypic{
        flex:1;
    }
    .familypic img{
        height: 30%;
    }


    /* SLIDE2 */
    .slide2{
        height: 90vh;
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    .projects{
        flex:0;
    }
    .quiz{
        width: 80%;
        margin-top:0;
    }

    /* SLIDE3 */
    .slide3{
        height: 80%;
    }
    .info{
        /* display: flex; */
        
    }
    .contact{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    } 
    .contactBtns{
        width: 100%;
    }

    .contactBtns li{
        font-size: 1.5rem;
        align-items: center;
    }
    .jakepic{
        width:50%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .slide3 img{
        width:80%;

    }
}



@media only screen and (max-width:920px){
    ul >li >a >.icon >.fas:last-child{
        display: none;
    }
}



/* DESKTOPS */
@media only screen and (min-width:920px){
    /* HEADER */
    header ul{
        transform: translate(-30%, -70%);
        display: flex;
        justify-content: center;
        width: 5%;
        margin: 30px auto 0;
        padding-top:1.2rem;
        height: 3rem;
        list-style: none;
    }
    header ul li{
        text-align: center;
        font-size: 1rem;
        color: black;
        border-right: 1px solid lightgray;
    }
    header ul li a{
        text-decoration: none;
        padding: 0 3.125rem;
        display: block;
    }
    header ul li a .icon{
        text-align: center;
        overflow: hidden;
    }
    header ul li a .icon .fas{
        transition: 0.5s;
        color: #000;
    }
    header ul li a .icon .fas:last-child{
        color:rgb(253, 42, 27);
    }
    header ul li a:hover .icon .fas{
        transform: translateY(-100%);
        transition: 0.5s;
    }
    header ul >li >a >.name{
        height: 1.25rem;
        width: 100%;
        display: block;
        overflow: hidden;
    }
    header ul li a .name span{
        display: block;
        color: #000;
        font-size: 1.125rem;
        line-height: 1.5rem;
        transition: 0.5s;
    }
    header ul li a .name span:before{
        content: attr(data-text);
        position: absolute;
        top: -90%;
        left: 0;
        width: 100%;
        height: 100%;
        color: rgb(253, 42, 27);
    }
    header ul li a:hover .name span{
        transform: translateY(16px);
    }

    /* ALL SLIDES */
    .slide{
        text-align: center;
        color: white;
        width: 100%;
        height: 80vh;
        transition: transform 1s;
    }
    .slide h1{
        font-size: 7rem;
    }
    .slide h2{
        font-size: 2rem;
    }

    /* SLIDE0 "HOME"*/
    .slide0{
        height: 80vh;
    }
    
    .about{
        width:90%;
        margin:auto;
        display: flex;
        align-items: center;
        height: 90%;
    }
    .gregorypic{
        width:50%;
        margin-top:3rem;
    }
    .slide0 img{
        width:100%;
    }


    /* SLIDE1 "ABOUT"*/
    .slide1{
        height: 90%;
    }
    .info{
        display: flex;
        flex-direction: row;
    }
    .slide1 h2{
        width:60%;
        text-align: left;
        font-weight: bold;
    }
    .bio{
        flex:1;
    }
    .bio li{
        width: 60%;
        text-align: left;
        color: white;
        line-height: 1.5rem;
        font-size: 1.25rem;
    }
    .familypic{
        width: 30%;
    }
    .familypic img{
        width: 80%;
    }


    /* SLIDE2 "PROJECTS"*/
    .slide2{
        display: none;
        height: 90vh;
    }
    .container{
        display: flex;
    }
    .projects{
        flex:1;
    }
    .quiz{
        width: 40%;
        margin:2rem;
    }
    
    
    /* SLIDE3 "CONTACT"*/
    .slide3{
        height: 80vh;
    }

    .contact{
        display: flex;

    } 
    .contactBtns{
        width: 40%;
        margin: 0;
    }
    .jakepic{
        width:45%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .slide3 img{
        width:50%;

    }
}