*{
    box-sizing: border-box;
}

header{
    background-color: red;
}
header >ul{
    list-style-type: none;
    display: flex;
    justify-content: center;

}

header >li{
    flex: 1;
    flex-direction: row;
}