*{
    box-sizing: border-box;
}
:root{
    font-size: 16px;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
    word-wrap: break-word;
}
header{
    background-color:white;
    margin-bottom: 0;
    width:100%;
}

header ul{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1rem ;
    list-style: none;
}
header ul li{
    padding: 0 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: black;
    border-right: 1px solid lightgray;
}
header ul li a .icon{
    height: 1.5rem;
    text-align: center;
    margin: 0 auto 0.625rem;
}
header ul li a .icon .fas{
    width: 100%;
    height: 100%;
    line-height: 1.5rem;
    font-size: 1.5rem;
    transition: 0.5s;
    color: #000;
}

header ul li a .name span{
    font-size: .625rem;
    width: 100%;
    color: #000;
}


.slides{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
/* nav {
	font-size: 3rem;

	position: absolute;
	left: 47%;
	top: 70%;
	color: white;
	z-index: 100;
}
nav >i {
	cursor: pointer;
	opacity: 0.2;

	transition: all 0.5s;
} */


/* SLIDE */
.slide{
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.slide h1{
	font-size: 4rem;
	font-weight: bold;
    padding-top: 1.25rem;
    margin:0;
}
.slide h2 {
	text-align: center;
	color: white;
	font-size: 1.5rem;
    font-weight: 100;
}		
.title{
    margin-top:0.625rem;
}


/* SLIDE0 */
.slide0 {
    background: rgb(253, 42, 27);
    height: 90vh;
    display: none;
}


/* SLIDE1 */
.slide1 {
	display: none;
    background-color: #00ADD5;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.familypic{
    width:80%;
    margin-top:1rem;
}
.slide1 img{
    width:100%;
}
.slide1 h2{
    width: 80%;
    margin: auto;
    text-align: left;
    font-weight: bold;
}
.slide1 li {
    width: 80%;
    margin: auto;
    text-align: left;
    color: white;
    border-right: none;
	line-height: 1.5rem;
}


/* SLIDE2 */
.slide2{
    display: none;
    background-color: #5C6983;

    height: 90vh;
}
.quiz{
    border-radius: 5px;
    width: 80%;
    margin: 0 auto 0.625rem;
    text-align: left;
    background-color: lightgray;
    color: #5C6983;
    padding: 0.625rem;
}
.quiz h2{
    color: crimson;
    text-align: left;
    font-weight: bold;
}
.quiz img{
    width:100%;
}
.githubBtn{
    border: 1px solid #5C6983;
    border-radius: 5px;
    background-color: white;
    padding: .5rem;
}
.siteBtn{
    border: 1px solid #5C6983;
    border-radius: 5px;
    color: white;
    background-color: #5C6983;
    padding: .5rem;
}
.githubBtn a{
    color: #5C6983;
    text-decoration: none;
}
.siteBtn a{
    color: white;
    text-decoration: none;
}


/* SLIDE3 */
.slide3 {
	/* display: none; */
    background-color: #22D6FF;
    height: 90vh;
}
.slide3 ul{
    list-style-type: none;
    margin-top:4rem;
}
.slide3 ul a{
    /* margin-top: 1rem; */
    text-decoration: none;

}
.slide3 ul li{
    color: white;;
    border: 1px solid white;;
    border-radius: 5px;
    padding: .625rem;
    width: 10rem;
    margin: 1rem auto;
}


/* FOOTER */
footer{
    background-color:white;
    /* padding: 1.25rem; */
    display: flex;
    /* height: 3.125rem; */
    justify-content: flex-end;
    width:100%;
}
footer .links{
    flex-direction: row;
    font-size: 2rem;
    opacity: 0.3;
}
.links >a{
    padding: .5rem;
    color: black;
}




@media only screen and (max-width:920px){
    ul >li >a >.icon >.fas:last-child{
        display: none;
    }
}




@media only screen and (min-width:920px){
    header ul{
        transform: translate(-30%, -70%);
        display: flex;
        justify-content: center;
        width: 5%;
        margin: 30px auto 0;
        padding-top:1.2rem;
        height: 3rem;
        list-style: none;
    }
    header ul li{
        
        text-align: center;
        /* display: block; */
        font-size: 1rem;
        color: black;
        border-right: 1px solid lightgray;
    }
    header ul li a{
        text-decoration: none;
        padding: 0 3.125rem;
        display: block;
    }
    header ul li a .icon{
        /* width: 2.5rem; */
        /* height: 2.5rem; */
        text-align: center;
        overflow: hidden;
        /* margin: 0 auto 0.625rem; */
    }
    header ul li a .icon .fas{
        /* width: 100%; */
        /* height: 100%; */
        /* line-height: 2.5rem; */
        /* font-size: 2.125rem; */
        transition: 0.5s;
        color: #000;
    }
    header ul li a .icon .fas:last-child{
        color:rgb(253, 42, 27);
    }
    header ul li a:hover .icon .fas{
        transform: translateY(-100%);
        transition: 0.5s;
    }
    header ul >li >a >.name{
        /* position: relative; */
        height: 1.25rem;
        width: 100%;
        display: block;
        overflow: hidden;
    }
    header ul li a .name span{
        display: block;
        /* position: relative; */
        color: #000;
        font-size: 1.125rem;
        line-height: 1.25rem;
        transition: 0.5s;
    }
    header ul li a .name span:before{
        content: attr(data-text);
        position: absolute;
        top: -50%;
        left: 0;
        width: 100%;
        height: 100%;
        color: rgb(253, 42, 27);
    }
    header ul li a:hover .name span{
        transform: translateY(1rem);
    }


    .slide{
        text-align: center;
        color: white;
        width: 100%;
        height: 80vh;
        transition: transform 1s;
    }
}