*{
    box-sizing: border-box;
}
:root{
    font-size: 16px;
}
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
}
header{
    background-color:white;
    padding: 1.25rem;
}
header >ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    height: 3rem;
}
ul >li{
    flex: 1;
    flex-direction: row;
    padding: .4rem 1.25rem .4rem 1.25rem;
    font-size: .5rem;
    line-height: 3.125rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
ul >li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
ul >li.current{
    background-color: black;
    color: white;
}


.slides{
    /* display: flex; */
    height: calc(100% - 100px);
    width: 100%;
    font-family: 'Raleway', sans-serif;

}
nav {
	font-size: 3rem;

	position: absolute;
	left: 47%;
	top: 70%;
	color: white;
	z-index: 100;
}
i {
	cursor: pointer;
	opacity: 0.2;

	transition: all 0.5s;
}
.slide{
    background-color: grey;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.slide >h1, #title >h1 {
	font-size: 3rem;
	font-weight: bold;
	padding-top: 1.25rem;
}

.slide0 {
	background: rgb(253, 42, 27);
}

.slide >h2, #title >h2 {
	text-align: center;
	color: white;
	font-size: 1rem;
	font-weight: 100;
}		

.slide1 {
	/* display: none; */
	background-color: #00ADD5;
}
p {
	padding: 1.25rem;
	font-size: 1.25rem;
	line-height: 2.5rem;
}


.slide2{
    /* display: none; */
	background-color: #22D6FF;
}


.slide3 {
	/* display: none; */
    background-color: lightgray;
}
form {
    margin: 0 auto;
    width: 80%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1px;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    display: flex;
  }
  
  input, textarea {
    font-size: .5rem;
    width:100%;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  textarea {
    vertical-align: top;
    height: 10em;
  }
  
  button {
      background-color: #00ADD5;
      color: white;
      border-radius: 5px;
      padding: 10px;
  }
  

.slide3 >ul{
    list-style-type: none;
}

footer{
    background-color:white;
    padding: 1.25rem;
    display: flex;
}
.links{
    flex-direction: row;
    /* width: 40%; */
    margin: auto;
    /* height: 50px; */
}
.links >i{
    justify-content: flex-end;
    align-content: flex-end;
    padding: 0.625rem;
}
